* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* set the background color for the Html body*/
body {
    background-color: #d9dcd6;
}

/*Combining element and class selectors*/
header.header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Combining selector with class selector*/
span.seo {
    color: #d9dcd6;
}

/*Consolidate element selector with class selector with a decendent of those selector*/
header.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

/* setting display to inline block and with 25px margin to the left*/
header.header nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}


a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*combining the selector*/
section.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Consolidate element selector with class selector with a decendent of those selector*/
section.content .float-left {
    float: left;
    margin-right: 25px;
}

/*Consolidate element selector with class selector with a decendent of those selector*/
section.content .float-right {
    float: right;
    margin-left: 25px;
}

/*Consolidate element selector with class selector with a decendent of those selector*/
section.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Consolidate element selector with class selector with a decendent of those selector*/
aside.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*.benefit-lead, .benefit-brand, .benefit-cost {*/
/*Consolidate element selector with class selector with a decendent of those selector*/
aside.benefits div{
    margin-bottom: 32px;
    color: #ffffff;
}

aside.benefits div h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside.benefits div img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Consolidate these 3 different selectors properties and values in to one. */
/*.search-engine-optimization, .online-reputation-management, .social-media-marketing{*/
section.content div{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Consolidate element and class selector with decendent of those selector. */
section.content div img {
    max-height: 200px;
}

/* Consolidate these 3 selector with similar properties with similar values into one */
/*.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {*/
section.content div h2{   
    margin-bottom: 20px;
    font-size: 36px;
}

/* changing class selector to element selector*/
footer.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* setting h2 selector font size to 20px*/
footer.footer h2 {
    font-size: 20px;
}
